<ion-content>
    <div class="row ionhead">
        <h2><b>Login with OTP</b></h2>
        <h6>We've just sent an OTP on your registered eMail ID and Mobile Number<br>
        Please enter and login</h6>
    </div>
    <ion-list class="ionlist">
      <ion-item>
          <ion-icon slot="start" name="lock"></ion-icon> 
          <ion-label  position="floating"><h6 style="opacity: 0.6">Enter OTP</h6></ion-label>
          <ion-input ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button fill="solid" expand="block" class="ionbtn" color="success">CONTINUE
        <ion-icon name="arrow-dropright"></ion-icon>
    </ion-button>
</ion-content>
